html {
    font-size: 10px;
    background: url(./background.jpg)  center;
    background-size: cover;
}


body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: sans-serif;
    box-sizing: border-box;
}



#keys {

    width: 80%;
    margin: 100px auto;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

.key {
    transition: all .07s ease;
    text-align: center;
    background: #3f3d8b;
    color: #d4ffcb;
    padding: 10px;
    width: 50px;
    height: 50px;
    border: 1px solid;
    display:inline-block;
    text-shadow: 0 0 .5rem black;
}


.key>span{
    font-size: .8em;
    display: block;
    clear: both;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}


.row {
    display: flex;
    flex: 1;
    text-align: center;
    height: 110px;
    margin: 5px auto;
    clear: both;
}




.key {
    border: .4rem solid black;
    border-radius: .5rem;
    margin: 1rem;
    font-size: 1.5rem;
    padding: 1rem .5rem;
    transition: all .07s ease;
    width: 10rem;
    text-align: center;
    color: white;
    background: rgba(0,0,0,0.4);
    text-shadow: 0 0 .5rem black;
}

.playing {
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}

kbd {
    display: block;
    font-size: 4rem;
}

.sound {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    color: #ffc600;
}

.blank {
    border: 1px transparent;
    background: transparent;

}